@{
    <!-- _Navbar.cshtml -->
    <div class="navbar-nav mx-auto">
        <a href="Index" class="nav-item nav-link">Home</a>
        <a href="Shop" class="nav-item nav-link">Shop</a>
        <a href="ShopDetail" class="nav-item nav-link">Shop Detail</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                <a href="Cart" class="dropdown-item">Cart</a>
                <a href="Checkout" class="dropdown-item">Checkout</a>
                <a href="Testimonial" class="dropdown-item">Testimonial</a>
                <a href="404.html" class="dropdown-item">404 Page</a>
            </div>
        </div>
        <a href="Contact" class="nav-item nav-link">Contact</a>
    </div>
}
